<nav class="navbar" style="background-color: #4b7fa4;">
        <div class="container">
          <a class="navbar-brand" href="">
                <i class="fa-solid fa-users fa-3x"></i>
               <b style="font-size: 30px;">USER MANAGEMENT SYSTEM</b> 
          </a>
          <form class="d-flex" role="search">
            <input style="width: 400px ;" class="form-control me-2" type="search" [placeholder]="userSearch" aria-label="Search">           
            &nbsp;&nbsp;&nbsp;    
            <button class="nav-item btn btn-success"><a class="nav-link active text-light" aria-current="page" href="app-add-user-list11">Add New User</a></button>                         
          </form>
        </div>
      
  </nav>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <!-- Navigation-->
 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-light" href="">
            <i class="fa-solid fa-users fa-3x"></i>
           <b style="font-size: 30px;">User Management System</b> 
        </a>
        <hr>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input style="width:400px;" type="text" placeholder="Search Here">
                </li>  
                &nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="app-add-user-list11">Add New User</a></li>             
            </ul>
        </div>
    </div>
</nav> -->